<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
</head>
<body>
    <!-- 사용자가 받을 메세지 -->
    <p th:if="${role == 'USER' and status == 'PENDING'}">
        예약 신청이 완료되었습니다. <br />
        예약 승인은 업체의 사정에 따라 늦어질 수 있습니다. <br />
        예약 승인 후에 확인 메일을 보내드리겠습니다. <br /><br />
        Travel Shooting 서비스를 이용해 주셔서 감사합니다!😊 <br /><br />
    </p>
    <p th:if="${role == 'USER' and status == 'APPROVED'}">
        예약이 승인되었습니다. <br />
        다음 날 오후 6시까지 결제를 완료해야 예약이 확정됩니다. <br />
        기한 내 결제가 이루어지지 않으면 예약이 자동으로 취소됩니다. <br /><br />
        Travel Shooting 서비스를 이용해 주셔서 감사합니다!😊 <br /><br />
    </p>
    <p th:if="${role == 'USER' and status == 'REJECTED'}">
        업체 사정으로 인해 예약이 거절되었습니다. <br /><br />
        Travel Shooting 서비스를 이용해 주셔서 감사합니다!😊 <br /><br />
    </p>
    <p th:if="${role == 'USER' and status == 'CANCELED'}">
        예약이 취소되었습니다. <br />
        더 나은 서비스를 제공할 수 있도록 노력하겠습니다. <br /><br />
    </p>

    <!-- 업체가 받을 메세지 -->
    <p th:if="${role == 'PARTNER' and status == 'PENDING'}">
        새로운 예약 신청이 접수되었습니다. <br />
        예약 승인 또는 거절을 할 수 있습니다. <br />
        시간이 지체될 경우, 사용자가 다른 예약을 선택할 수 있으니 빠른 결정을 부탁드립니다. <br /><br />
        감사합니다! <br /><br />
    </p>
    <p th:if="${role == 'PARTNER' and status == 'CANCELED'}">
        고객의 사정으로 인해 예약이 취소되었습니다. <br /><br />
    </p>

    <!-- 사용자와 업체 공통 메세지 -->
    <p th:if="${status == 'EXPIRED'}">
        기한 내 결제가 이루어지지 않아서 예약이 자동으로 취소되었습니다. <br />
        더 나은 서비스를 제공할 수 있도록 노력하겠습니다. <br /><br />
    </p>

    <!-- 예약 정보 -->
    <p>
        <strong>예약자:</strong> <span th:text="${userName}"></span>
    </p>
    <p>
        <strong>예약 날짜:</strong> <span th:text="${reservationDate}"></span>
    </p>
    <p>
        <strong>레저/티켓 상품:</strong> <span th:text="${productName}"></span>
    </p>
    <p>
        <strong>레저/티켓 일정:</strong> <span th:text="${partOpenAt}"></span> ~ <span th:text="${partCloseAt}"></span>
    </p>
    <p>
        <strong>예약 인원:</strong> <span th:text="${headCount}"></span> 명
    </p>
    <p>
        <strong>예약 신청일:</strong> <span th:text="${createdAt}"></span>
    </p>
</body>
</html>